<div class="container">
  <app-loading *ngIf="isLoading$ | async"></app-loading>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage$ | async">
    {{errorMessage$ | async}}
  </div>

  <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()" *ngIf="contents$ | async">
    <div class="form-group mt-3">
      <label for="firstName">{{ (contents$ | async).firstName }}</label>
      <input type="text"
             class="form-control"
             id="firstName"
             [ngClass]="{
               'is-invalid': (controls['firstName']?.touched && 
                 (controls['firstName']?.errors?.['required'] || controls['firstName']?.errors?.['pattern'] ||
                 form.errors?.['isShort']))
             }"
             formControlName="firstName">
    
      <div class="invalid-feedback" *ngIf="controls['firstName']?.touched && controls['firstName']?.errors?.['required']">
        {{ (contents$ | async).firstNameIsRequired }}
      </div>
    
      <div class="invalid-feedback" *ngIf="controls['firstName']?.touched && controls['firstName']?.errors?.['pattern']">
        {{ (contents$ | async).firstNameShouldNotContainAnyNum }}
      </div>
    
      <div class="invalid-feedback" *ngIf="form.invalid && form.errors?.['isShort']">
        {{ (contents$ | async).firstAndLastNamesCannotBe1Letter }}
      </div>
    </div>
    
    <div class="form-group mt-3">
      <label for="lastName">{{ (contents$ | async).lastName }}</label>
      <input type="text"
             class="form-control"
             id="lastName"
             [ngClass]="{
               'is-invalid': (controls['lastName']?.touched && 
                 (controls['lastName']?.errors?.['required'] || controls['lastName']?.errors?.['pattern'] ||
                 form.errors?.['isShort']))
             }"
             formControlName="lastName">
    
      <div class="invalid-feedback" *ngIf="controls['lastName']?.touched && controls['lastName']?.errors?.['required']">
        {{ (contents$ | async).lastNameIsRequired }}
      </div>
    
      <div class="invalid-feedback" *ngIf="controls['lastName']?.touched && controls['lastName']?.errors?.['pattern']">
        {{ (contents$ | async).lastNameShouldNotContainAnyNum }}
      </div>
    
      <div class="invalid-feedback" *ngIf="form.invalid && form.errors?.['isShort']">
        {{ (contents$ | async).firstAndLastNamesCannotBe1Letter }}
      </div>
    </div>
    
    <button class="btn btn-primary link" [disabled]="!form.valid" type="submit">{{ (contents$ | async).button }}</button>
  </form>
</div>
