
<div class="container">
  <app-loading *ngIf="(isLoading$ | async) || (contentsIsLoading$ | async)"></app-loading>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage$ | async">
    {{errorMessage$ | async}}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="contentsErrorMessage$ | async">
    {{contentsErrorMessage$ | async}}
  </div>

  <a class="btn btn-primary contact-link"
     [routerLink]="['/personal-information']"
     *ngIf="contents$ | async">{{ (contents$ | async).back }}</a>

  <form class="form" [formGroup]="form" (ngSubmit)="onOpenReviewDialog()" *ngIf="contents$ | async">
    <div class="form-group mt-3">
      <label for="country">{{ (contents$ | async).country }}</label>
      <select id="country"
              (change)="changeCountry($event)"
              class="form-select"
              formControlName="country"
              [ngClass]="{
                'is-invalid': (controls['country']?.touched && controls['country']?.errors?.['required'])
              }">
        <option value="" code="" [attr.data-country]="''" selected disabled>{{ (contents$ | async).country }}</option>
        <option *ngFor="let countryCode of countryCodes$ | async"  [attr.data-country]="countryCode.dial_code" [ngValue]="countryCode">{{countryCode.name}}</option>
      </select>
    
      <div class="invalid-feedback" *ngIf="controls['country']?.touched && controls['country']?.errors?.['required']">
        {{ (contents$ | async).countryIsRequired }}
      </div>
    </div>
    
    <div class="input-group mt-3">
      <label for="phoneNumber">{{ (contents$ | async).phoneNumber }}</label>
      <span class="input-group-text dial_code">{{country ? country.dial_code : null}}</span>
      <input type="number"
             class="form-control"
             id="phoneNumber"
             aria-describedby="phoneNumber"
             [ngClass]="{
               'is-invalid': (controls['phoneNumber']?.touched && 
                 (controls['phoneNumber']?.errors?.['required'] || form?.errors?.['phoneNumberInvalid']))
             }"
             formControlName="phoneNumber">
    
      <div class="invalid-feedback" *ngIf="controls['phoneNumber']?.touched && controls['phoneNumber']?.errors?.['required']">
        {{ (contents$ | async).phoneNumberIsRequired }}
      </div>

      <div class="invalid-feedback" *ngIf="controls['phoneNumber']?.touched && form.errors?.['phoneNumberInvalid']">
        {{ (contents$ | async).phoneNumberInvalid }}
      </div>
    </div>
    
    <button class="btn btn-primary link" [disabled]="!form.valid" type="click">{{ (contents$ | async).button }}</button>
  </form>
</div>

<app-review-dialog *ngIf="modalIsVisable"
                   (close)="onCloseReviewDialog($event)"
                   [contents]="contents$ | async"
                   (submit)="onSubmit()"></app-review-dialog>
